<!DOCTYPE html>    
    <head>
        <meta charset="utf-8">
        <title>NOA</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="imageStreaming.css" type="text/css">
        <script src="imageStreaming.js"></script>
        <script src="hbutton.js"></script>
    </head>
    <script>
        $(document).ready(function()   {
			var lToggle = false;
			var fileList, pwd, dirList;

			$.ajax({
				method: 'GET',
				url: '/ims/dirlist'
			}).done(function(msg) {
				var jsonMsg = JSON.parse(msg);
				fileList = jsonMsg.fil;
				dirList = jsonMsg.dir;
				pwd = JSON.parse(msg).pwd;

	            var showIndex = 0;

				// Default Setting.
				if( fileList.length > 2) {
					changeCss(fileList, showIndex);
				}
				else if(fileList.length == 2) {
			        $('#prevItem').css({'background-image' : 'url("' +  fileList[1] +'")'});
			        $('#contentsItem').css({'background-image' : 'url("' +  fileList[0] +'")'});
			        $('#nextItem').css({'background-image' : 'url("' +  fileList[1] +'")'});
					$('#nameSpace').text(getFileName(fileList[0]));
				}
				else if(fileList.length == 1) {
			        $('#prevItem').css({'background-image' : 'url("' +  fileList[0] +'")'});
			        $('#contentsItem').css({'background-image' : 'url("' +  fileList[0] +'")'});
			        $('#nextItem').css({'background-image' : 'url("' +  fileList[0] +'")'});
					$('#nameSpace').text(getFileName(fileList[0]));
				}
				else {
					$('#nameSpace').text(getFileName(pwd));
				}
					
	            $('#prevItem').click(function() {
	                showIndex = showIndex - 1;
	                showIndex = changeCss(fileList, showIndex);
	                
	            });
	            
	            $('#nextItem').click(function() {
	                showIndex = showIndex + 1;
	                showIndex = changeCss(fileList, showIndex);
	            });
			});

			$('#list').hbutton({
				longText: 'List', 
				longWidth: '40px',
			});

			$('#list').on('click', function() {
				if(lToggle) {
					$(this).parent().children('#fileList').remove();
				}
				else {
					appendFileList(fileList, dirList);
				}
				lToggle = !lToggle;
			});

			$(document).on('click', '.fileLink', function() {
				for(var i = 0; i < fileList.length; i++)	{
					if(getFileName(fileList[i]) == $(this).text())	{
						var index = i;
						break;
					}
				}
				changeCss(fileList, index);
			});

			$(document).on('click', '.dirLink', function() {
				var destDir = "";
				if($(this).text() == "..") {
					for(var i = 0; i < pwd.split("/").length - 1; i++) {
						destDir =  destDir + pwd.split("/")[i];
						if(i != pwd.split("/").length - 2) {
							destDir += "/";
						}
					}
				}
				else {
					destDir = pwd + "/" + $(this).text();
				}

				$.ajax({
					method: 'POST',
					data: { dir : destDir },
					url: '/ims/dirlist'
				}).done(function(msg) {
					var jsonMsg = JSON.parse(msg);
					dirList = jsonMsg.dir;
					fileList = jsonMsg.fil;
					pwd = jsonMsg.pwd;

					$('#fileList').remove();

					appendFileList(fileList, dirList);
				});
			});

			$('#history').hbutton({
				longText: 'History', 
				longWidth: '60px',
				animateTime: '200'
			});
			$('#star').hbutton({
				longText: 'Star', 
				longWidth: '40px',
			});
        });
    </script>
    <body>
        <div id='topMenu'>
            <span id='logoSpace'> </span>
        </div>
        <div id='contentsBody'>
            <span id='leftMenu'>
                <div id='listDiv'>
					<button class='hButton' id='list'></button>
				</div>
                <div>
					<button class='hButton' id='history'></button>
				</div>
                <div>
					<button class='hButton' id='star'></button>
				</div>
            </span>

            <span id='contentsView'>
                <span id='leftContent' class='contentSpace'>
                    <div class='contentPreviewTopNullSpace'></div>
                    <div id='prevItem' class='preview item'></div>
                </span>
                <span id='mainContent' class='contentSpace'>
                    <div id='nameSpace'></div>
                    <div id='contentsItem' class='content item'></div>
                </span>
                <span id='rightContent' class='contentSpace'>
                    <div class='contentPreviewTopNullSpace'></div>
                    <div id='nextItem' class='preview item'></div>
                </span>
            </span>

            <span id='rightMenu'>
                <button id='showValue'></button>
                <button id='repeat'></button>
                <button id='shuffle'></button>
            </span>
        </div>
        <div id='footer'></div>
    </body>
</html>
