<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Noa</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>

    <div class="Wrapper">
      <div class="LeftFloat Wing">
        기린
      </div>
      <div class="LeftFloat Main">
        <div class="MainTop">

        </div>
        <div class="MainBottom">
          <div class="LoginForm">
            <form class="" action="/login" method="post">
              <input type="text" name="userId" value=""><br>
              <input type="password" name="userPw" value=""><br>
              <input type="submit" name="submit" value="Login"><br>
            </form>
            <input id="btnCloseAccount" type="button" value="X">
          </div>
        </div>
      </div>
      <div class="LeftFloat Wing">
        부엉이
      </div>
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
